:root{
    --type-bug: #9BBA48;
    --type-ghost: #616eb7;
    --type-dark: #595761;
    --type-dragon: #2C6AC1;
    --type-eletric: #EED967;
    --type-fairy: #E296E1;
    --type-fighting: #C44D61;
    --type-ground: #CE8056;
    --type-ice: #8BCEC1;
    --type-normal: #A0A29F;
    --type-poison: #AC6ACA;
    --type-psychic: #EB8B85;
    --type-rock: #84BEB3;
    --type-grass: #73B861;
    --type-steel: #6594A1;
    --type-water: #88A3D4;
    --type-fire: #F66D6D;
    --type-flying: #A6BBE8;

    --blue-primary: #3f5db3;
}