<!-- Wappler include head-page="layouts/main" bootstrap5="local" is="dmx-app" id="components" appConnect="local" fontawesome_5="local" -->
<meta name="ac:route" content="/components">


<main>
    <h1>Who is that Pokémon?</h1>
    <h2>Select your Pokémon</h2>
    <h3>Bulbasaur</h3>
    <section>



        <div class="tag blue-tag">
            <div class="icon">
                <img src="/assets/pokeapi/bag-red.svg">
            </div>
            <span>pokedex</span>
        </div>
        <div class="container search">
            <input id="text1" name="text1" type="text" class="form-control" placeholder="Search name or code">
            <button type="button">
                <img src="/assets/pokeapi/icon-search.svg">
            </button>
        </div>

        <button class="type-filter ghost">
            <div class="icon">
                <img src="/assets/pokeapi/icon-types/ghost.svg">
            </div>
            <span>Ghost</span>
        </button>

        <button class="card-pokemon grass">
            <div class="image">
                <img src="/assets/pokeapi/bulbasaur.svg" alt="">
            </div>
            <div class="info">
                <div class="text">
                    <span>#001</span>
                    <h3>Bulbasaur</h3>
                </div>
                <div class="icon">
                    <img src="/assets/pokeapi/icon-types/grass.svg" alt="">
                </div>
            </div>
        </button>

        <span class="tag-type fire">Fire</span>
        <button class="btn-load-more">Load more Pokémons</button>
    </section>

</main>